extends layout

block head
  title The Practical Type | Learn the Dvorak keyboard layout quickly and effectively
  meta(
    name="description"
    content="Learn and practice the Dvorak keyboard with timed exercises using the most common words in the English language."
  )

block body
  include learn-buttons.pug

  img.keyboard(src="assets/dvorak.png" alt="Dvorak keyboard layout")

  script(type="text" class="standard")
    include ../dict/learn.txt