<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    block head

    <link rel="stylesheet" href="site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="hide-input hide-keyboard">

    <input autofocus/>

    <div class="frame">
      <p class="text"><span class="correct"></span><span class="incorrect"></span><span class="rest"></span></p>
    </div>

    <p class="wpm"></p>

    block body

    <script src="script.js"></script>
  </body>
</html>